process FASTQC {
    publishDir "${params.outdir}/qc/fastqc", mode: 'copy', pattern: '*.{html,zip}'
    // ... rest of the process
}

process TRACS_ALIGN {
    publishDir "${params.outdir}/TRACS", mode: 'copy'
    // ... rest of the process
}

process MULTIQC {
    publishDir "${params.outdir}/qc/multiqc", mode: 'copy'
    // ... rest of the process
}
